In [53]:
import os
import pandas as pd

In [59]:
data_folder = '/home/peter/Documents'

In [55]:
file_list = []
for root, dirs, files in os.walk(data_folder, topdown=True):
    if len(files) > 0:
        file_list.extend((zip([root]*len(files), files)))

df = pd.DataFrame(file_list, columns=['Path', 'File'])

In [56]:
df['Customer'] = df['Path'].str[27:]

In [57]:
#df

In [61]:
df_atf_count = pd.pivot_table(df, index='Customer', values='File', aggfunc=len)
df_atf_count

          File
Customer
            11
cust 1       5
cust 2       2
cust 3       3